body{
	background: url('../images/back.gif');
	background-size: 1500px 800px; 
	margin:0; 
	padding:0;
}
header{
	border-bottom:solid 5px #888888;
	width:100%; 
	height:50px; 
	background-color:#eeeeee; 
	color:#ffffff;
}
